html {
  height: 100%;
}

body {
  height: 100%;
  background-color: red;
}

.a {
  display: flex;
  background: linear-gradient(red, green);
}

a {
  transition: transform 1s
}

::placeholder {
  color: gray;
}
